img {
    width: 400px;
    margin: 0 40px;
}
h1 {
    font-size: 70px;
    margin: 5px;
}
body {
    width: 475px;
    margin: 0 auto;
}
body *{
    text-align: center;
    
}
ul{
	padding: 0px;
	list-style: none;
}